@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<h1>Tela de Jogadores</h1>

<form method="post" action='@Url.Action("Cadastrar")'>

    <label for="">Nome</label>
    <input type="text" name="Nome" required>

    <label for="">Email</label>
    <input type="email" name="Email">

    <label for="">Senha</label>
    <input type="password" name="Senha">

    <label for="">Id da Equipe</label>
    <input type="text" name="IdEquipe">

    <button type="submit">Cadastrar</button>

</form>

<table class="table table-striped table-responsive">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>IdEquipe</th>
        @* <th>Ações</th> *@
    </tr>

    <tbody>

        @foreach (Jogador jogadores in ViewBag.Jogador)
        {
            <tr>
                <td>@jogadores.IdJogador</td>
                <td>@jogadores.Nome</td>
                <td>@jogadores.Email</td>
                <td>@jogadores.IdEquipe</td>
                @* <td>
                    <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px">
                </td> *@
                @*excluir uma equipe*@
                @* <td>
                    <a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe" >Excluir</a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Equipe" asp-action="Editar" asp-route-id="@equipe.IdEquipe">Editar</a>
                </td> *@
            </tr>
        }

    </tbody>
</table>